.footer {
  background-color: $black;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerSocial {
  margin-left: 13rem;

  &-link {
    margin-right: 1rem;
    color: $white;
    @include easeOut;
    &:hover {
      color: $brand-lightGold;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
