.footer {
  background-color: $black;
  height: 7rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: $white;
    font-size: 1.4rem;
  }

  &-social {
    margin-left: 13rem;

    a {
      margin-right: 1rem;
      color: $brand-lightGold;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
