header {
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem 0px;
  font-size: 1.6rem;
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
    position: relative;
  }

  .navMenu {
    display: flex;
    &-link {
      margin: 0 1.5rem;
      color: $black;
    }
    &-logo {
      position: absolute;
      left: 50%;
      img {
        width: 12rem;
      }
    }
  }
}
