.mainHeader {
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: $black;
  @include for(phone) {
    display: none;
  }
}

.navMenu {
  display: flex;
  align-items: center;
  &-link {
    margin: 0 1.5rem;
    color: $white;
    @include easeOut;

    &:hover {
      color: $brand-lightGold;
    }
  }
}

.navLogo {
  img {
    width: 12rem;
  }
}
