.locationGrid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locationInfo {
  margin-left: 5rem;
  &-heading {
    margin-top: 2rem;
  }
  &-link {
    color: $brand-lightRed;
  }
}
