.staff {
  background: $black;
  color: $white;
}

.staffContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.staffIntro {
  border-bottom: 0.2rem solid $brand-lightGold;
  padding-bottom: 1rem;
}

.staffHeading {
  text-transform: uppercase;
}
