.tips {
  background: $brand-lightSilver;
  &-head {
    margin: 5rem auto 1rem auto;
    width: 25%;
    border-bottom: 0.2rem solid $brand-lightRed;
  }
}

.tipBoxes {
  display: flex;
  margin-top: 10rem;
  justify-content: center;

  &-3 {
    margin-right: 0;
  }
}
