.tips {
  background: $brand-lightSilver;

  &-head {
    margin: 0 auto;
    width: 25%;
    border-bottom: 0.2rem solid $brand-lightRed;
  }
  .tips-text {
    margin: 2rem;
    text-align: center;
  }
}

.tipBoxes {
  display: flex;
  margin-top: 5rem;
  justify-content: center;

  &-3 {
    margin-right: 0;
  }
}
