// top notification bar
.notifyBar {
  position: relative;
  background: $black;
  height: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $brand-lightGold;
  font-weight: 700;
  &-content {
    width: 100%;
  }

  &-text {
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  &-close {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }
}

.btn {
  border-radius: 5rem;
  padding: 1rem 2rem;
  margin: 0 1.5rem;
  &-primary {
    background: $brand-lightGold;
    color: $brand-lightRed;
  }
  &-secondary {
    background: $brand-lightRed;
    color: $brand-lightGold;
  }
}
