/*
color variables
*/
$brand-lightRed: #91261d;
$red2: #5e0b0f;
$brand-darkRed: #641b13;
$brand-lightGold: #f3cd6c;
$brand-darkGold: #bd9334;
$brand-lightBronze: #bb874e;
$brand-darkBronze: #ac783f;
$brand-lightSilver: #d8d8d8;
$brand-darkSilver: #b3b3b3;
$black: #000000;
$white: #ffffff;
