.box {
  border-radius: 0.5rem;
  margin-right: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  padding: 4rem 3rem;
  width: 37rem;
  background: $white;
  &-head {
    text-align: center;
    margin: 2rem 0;
    img {
      width: 10rem;
    }
  }

  &-details {
  }
}
