.navDot {
  text-align: center;
  margin-left: 25%;
  &-dots {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.5rem;
    background-color: $white;
    border-radius: 50%;
    display: inline-block;
  }

  &-active {
    background-color: $brand-lightGold;
  }
}
