// top notification bar
.notifyBar {
  position: relative;
  background: $black;
  height: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $brand-lightGold;
  &-content {
    flex-grow: 1;
  }

  &-close {
    padding-right: 3rem;
    @include for(phone) {
      padding-right: 2rem;
    }
  }
}
