// top notification bar
.notifyBar {
  position: relative;
  background: $black;
  height: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $brand-lightGold;
  &-content {
    width: 100%;
  }

  &-close {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
  }
}
