.sectionStaff {
  padding: 10rem 0;
  background: $black;
  color: $white;
}

.staffContainer {
  display: flex;
  // justify-content: flex-end;
  align-items: center;
  margin: 5rem 0;
}
.staffIntro {
  margin: 0 5rem 0 20rem;
  text-transform: uppercase;
  border-bottom: 0.2rem solid gold;
  padding-bottom: 1rem;
}
