*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  @include for(phone) {
    font-size: 55%; // 14px
  }
  @include for(latop) {
    font-size: 70%; // 14px
  }
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.sections {
  padding: 15rem 0;
}

.container {
  width: 75%;
  max-width: 144.4rem;
  margin: 0 auto;
  @include for(phone) {
    width: 100%;
  }
  @include for(tablet) {
    width: 100%;
  }
}
