/*
color variables
*/
/*
MEDIA QUERY BREAKPOINTS
0-600px         Phone
600-900px       tablet portrait
900-1200px      tablet landscape
1200-1800px     normal laptop & desktop
1800px +        big screen with high-resolution
*/
/*
STANDARD MIXIN
@mixin forPhones {
  @media (max-width: 600px) {
    @content;
  }
}
*/
/*
MIXIN WITH BREAKPOINT VARIABLE ARGUMENT
- phone
- tabPort
- tabLand
- desktop

ORDER: base + typography > general layout > components
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 768px) {
    html {
      font-size: 55%; } }
  @media (min-width: 1024px) {
    html {
      font-size: 70%; } }

body {
  box-sizing: border-box; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

.sections {
  padding: 15rem 0; }

.container {
  width: 75%;
  max-width: 144.4rem;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      width: 100%; } }
  @media (max-width: 960px) {
    .container {
      width: 100%; } }

body {
  font-family: "Open Sans";
  color: #000000;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 1.2; }

.notifyBar-text,
.notifyBar-close {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem; }
  @media (max-width: 768px) {
    .notifyBar-text,
    .notifyBar-close {
      font-size: 1rem; } }

.mainHeader {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem; }

.menuMobile-link {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.6rem; }

.heroContent-heading {
  text-align: center;
  font-size: 4rem;
  color: #ffd700;
  font-weight: 800; }

.text {
  font-size: 1.6rem; }

.membersHeading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem; }

.membersGrid-title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.8rem; }

.membersGrid-text {
  font-size: 1.6rem; }

.staffHeading {
  font-size: 2.4rem; }

.slide-text {
  font-size: 2.4rem;
  text-transform: uppercase; }

.tips-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem; }

.box-heading {
  font-size: 1.8rem; }

.locationInfo-heading {
  font-size: 1.8rem; }

.locationInfo-link {
  color: #d25870; }

.footer-text {
  color: #ffffff;
  font-size: 1.2rem; }

@keyframes slideRight {
  0% {
    width: 0%; }
  100% {
    width: 50%; } }

@keyframes rotate180 {
  0% {
    opacity: 25%;
    transform: rotate(0); }
  100% {
    opacity: 100%;
    transform: rotate(180deg); } }

@keyframes rotate45 {
  0% {
    opacity: 25%;
    transform: rotate(0) translate(0); }
  100% {
    opacity: 100%;
    transform: rotate(45deg) translate(0.6rem, 0.4rem); } }

@keyframes rotateMinus45 {
  0% {
    opacity: 25%;
    transform: rotate(0) translate(0); }
  100% {
    opacity: 100%;
    transform: rotate(-45deg) translate(1rem, -0.8rem); } }

.notifyBar {
  position: relative;
  background: #000000;
  height: 4rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffd700; }
  .notifyBar-content {
    flex-grow: 1; }
  .notifyBar-close {
    padding-right: 3rem; }
    @media (max-width: 768px) {
      .notifyBar-close {
        padding-right: 2rem; } }

.btn {
  border-radius: 5rem;
  padding: 0.3rem 1rem;
  color: #000000;
  transition: all 0.5s ease-out; }
  .btn-primary {
    background: #ffffff;
    color: #000000; }
    .btn-primary:hover {
      background-color: #ffd700; }

.mainQuote {
  background: rgba(179, 179, 179, 0.2);
  text-align: center;
  padding: 5rem 0;
  width: 100%; }
  .mainQuote q {
    width: 50%; }

.sliderWrapper {
  overflow: hidden;
  height: 70vh;
  width: 50%;
  position: relative; }
  @media (max-width: 768px) {
    .sliderWrapper {
      width: 100%; } }
  @media (max-width: 960px) {
    .sliderWrapper {
      width: 100%; } }

#slider {
  margin: 0 auto; }
  @media (max-width: 768px) {
    #slider {
      height: 50vh;
      width: 100%; } }

.slide-content {
  overflow: hidden;
  height: 70vh;
  position: relative; }

.slide-text {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background-color: #000000;
  padding: 0 3rem;
  color: #ffffff; }

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out; }
  .slide-1 {
    background-image: url(/Athena.3d787545.jpg); }
  .slide-2 {
    background-image: url(/Leo.af97a938.jpg); }
  .slide-3 {
    background-image: url(/Ellie.2a9f719f.jpg); }
  .slide-4 {
    background-image: url(/Kai.e187ab85.jpg); }
  .slide-5 {
    background-image: url(/Emery.42ae0118.jpg); }
  .slide-6 {
    background-image: url(/Kolton.25476f34.jpg); }
  .slide-7 {
    background-image: url(/Leah.39bb420e.jpg); }
  .slide-8 {
    background-image: url(/Ivan.a60debde.jpg); }
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  width: 0;
  height: 0;
  border-style: solid; }

#arrowLeft {
  border-width: 1.5rem 2.5rem 1.5rem 0;
  left: 0;
  margin-left: 2rem;
  border-color: transparent #ffd700 transparent transparent; }
  @media (max-width: 768px) {
    #arrowLeft {
      margin-left: 1rem; } }

#arrowRight {
  border-width: 1.5rem 0 1.5rem 2.5rem;
  right: 0;
  margin-right: 2rem;
  border-color: transparent transparent transparent #ffd700; }
  @media (max-width: 768px) {
    #arrowRight {
      margin-right: 1rem; } }

.box {
  border-radius: 0.5rem;
  margin-right: 3.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  padding: 3.5rem;
  width: 37rem;
  background: #ffffff; }
  @media (max-width: 768px) {
    .box {
      margin: 3rem auto; } }
  @media (max-width: 960px) {
    .box {
      margin: 3rem auto; } }
  .box-head {
    text-align: center;
    margin: 2rem 0; }
    .box-head img {
      width: 10rem; }

.menu {
  transform: translate3d(-100%, 0, 0);
  transition: all 0.5s ease-out; }
  @media (max-width: 768px) {
    .menu {
      position: absolute;
      top: 0;
      left: 0;
      background: #000000;
      width: 37.5rem;
      height: 100vh;
      z-index: 1; } }
  .menu.show {
    transform: translate3d(0, 0, 0); }

.menuMobile {
  display: none;
  margin-top: 20rem; }
  @media (max-width: 768px) {
    .menuMobile {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .menuMobile-link {
    color: #ffffff;
    padding: 2rem 0;
    transition: all 0.5s ease-out; }
    .menuMobile-link:hover {
      color: #ffd700; }

.galleryGrid {
  display: grid;
  grid-template: repeat(6, 4vw)/repeat(6, 1fr);
  grid-gap: 0.5rem; }
  @media (max-width: 960px) {
    .galleryGrid {
      grid-template: repeat(6, 10vw)/repeat(6, 1fr); } }
  @media (max-width: 768px) {
    .galleryGrid {
      grid-template: repeat(6, 15vw)/repeat(6, 1fr);
      margin-bottom: 5rem; } }

.galleryFig-1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 3; }

.galleryFig-2 {
  grid-row: 1 / span 2;
  grid-column: 4 / span 2; }

.galleryFig-3 {
  grid-row: 1 / span 2;
  grid-column: 6 / span 1; }

.galleryFig-4 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2; }

.galleryFig-5 {
  grid-row: 3 / span 2;
  grid-column: 3 / span 2; }

.galleryFig-9 {
  grid-row: 4 / span 2;
  grid-column: 1 / span 2; }

.galleryFig-10 {
  grid-row: 4 / span 2;
  grid-column: 5 / span 2; }

.galleryFig-13 {
  grid-row: 5 / span 2;
  grid-column: 3 / span 2; }

.galleryFig-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

@media (max-width: 768px) {
  .menuBtn {
    position: absolute;
    z-index: 2;
    left: 4rem;
    top: 7rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .menuBtn-line {
      width: 3rem;
      height: 0.4rem;
      margin: 0 0 0.6rem 0;
      background: #ffffff;
      transition: all 0.5s ease-out; }
    .menuBtn.close {
      transform: rotate(180deg); }
      .menuBtn.close .menuBtn-line {
        background: #ffd700; }
        .menuBtn.close .menuBtn-line:nth-child(1) {
          transform: rotate(45deg) translate(0.6rem, 0.4rem); }
        .menuBtn.close .menuBtn-line:nth-child(2) {
          opacity: 0; }
        .menuBtn.close .menuBtn-line:nth-child(3) {
          transform: rotate(-45deg) translate(1rem, -0.8rem); } }

.mainHeader {
  position: relative; }

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  background: #000000; }
  @media (max-width: 768px) {
    .nav {
      display: none; } }

.navMenu {
  display: flex;
  align-items: center; }
  .navMenu-link {
    margin: 0 1.5rem;
    color: #ffffff;
    transition: all 0.5s ease-out; }
    .navMenu-link:hover {
      color: #ffd700; }

.navLogo img {
  width: 12rem; }

.hero {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7); }

.bgVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  z-index: -1; }
  .bgVideo-content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.heroContent {
  height: 80vh; }
  .heroContent-head {
    position: relative;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -40%); }

.membersHead {
  margin: 0 auto 5rem auto;
  width: 50%;
  border-bottom: 0.2rem solid #ffd700; }
  @media (max-width: 768px) {
    .membersHead {
      width: 75%; } }

.membersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem; }
  @media (max-width: 768px) {
    .membersGrid {
      grid-template-columns: 1fr;
      padding: 0 5rem; } }
  @media (max-width: 960px) {
    .membersGrid {
      grid-template-columns: 1fr;
      padding: 0 5rem; } }

.staff {
  background: #000000;
  color: #ffffff; }

.staffContainer {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .staffContainer {
      flex-direction: column; } }
  @media (max-width: 960px) {
    .staffContainer {
      flex-direction: column; } }

.staffIntro {
  border-bottom: 0.2rem solid #ffd700;
  padding-bottom: 1rem;
  margin: 5rem;
  text-align: center; }
  @media (max-width: 768px) {
    .staffIntro {
      margin: 0 0 5rem 0; } }

.staffHeading {
  text-transform: uppercase; }

.tips {
  background: #d8d8d8; }
  .tips-head {
    margin: 0 auto;
    width: 25%;
    border-bottom: 0.2rem solid #d25870; }
    @media (max-width: 768px) {
      .tips-head {
        width: 75%; } }
  .tips .tips-text {
    margin: 2rem;
    text-align: center; }

.tipBoxes {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  padding: 0 3rem; }
  @media (max-width: 768px) {
    .tipBoxes {
      flex-direction: column; } }
  @media (max-width: 960px) {
    .tipBoxes {
      flex-direction: column; } }
  .tipBoxes-3 {
    margin-right: 0; }
    @media (max-width: 768px) {
      .tipBoxes-3 {
        margin: 3rem auto; } }
    @media (max-width: 960px) {
      .tipBoxes-3 {
        margin: 3rem auto; } }

.locationGrid {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 768px) {
    .locationGrid {
      flex-direction: column; } }
  @media (max-width: 960px) {
    .locationGrid {
      flex-direction: column; } }

.locationInfo {
  margin-left: 5rem; }
  @media (max-width: 768px) {
    .locationInfo {
      margin-left: 0; } }
  .locationInfo-heading {
    margin-top: 2rem; }
  .locationInfo-link {
    color: #d25870; }

.footer {
  background-color: #000000;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      text-align: center;
      height: auto; } }

@media (max-width: 768px) {
  .footer-copyright {
    margin: 3rem 0; } }

@media (max-width: 768px) {
  .footerSocial {
    margin-bottom: 3rem; } }

.footerSocial-link {
  font-size: 2rem;
  margin-right: 1rem;
  color: #ffffff;
  transition: all 0.5s ease-out; }
  .footerSocial-link:hover {
    color: #ffd700; }
  .footerSocial-link:last-child {
    margin-right: 0; }


/*# sourceMappingURL=/styles.0d56fec4.css.map */