.footer {
  background-color: $black;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include for(phone) {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}

.footer-copyright {
  @include for(phone) {
    margin: 3rem 0;
  }
}

.footerSocial {
  @include for(phone) {
    margin-bottom: 3rem;
  }
  &-link {
    font-size: 2rem;
    margin-right: 1rem;
    color: $white;
    @include easeOut;
    &:hover {
      color: $brand-lightGold;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
