.box {
  border-radius: 0.5rem;
  margin-right: 3.5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  padding: 3.5rem;
  width: 37rem;
  background: $white;

  @include for(phone) {
    margin: 3rem auto;
  }
  @include for(tablet) {
    margin: 3rem auto;
  }
  &-head {
    text-align: center;
    margin: 2rem 0;
    img {
      width: 10rem;
    }
  }

  &-details {
  }
}
