// mobile menu
.menu {
  transform: translate3d(-100%, 0, 0);
  @include easeOut;
  @include for(phone) {
    position: fixed;
    top: 0;
    left: 0;
    background: $black;
    width: 37.5rem;
    height: 100vh;
    z-index: 1;
  }
  &.show {
    transform: translate3d(0, 0, 0);
  }
}
// mobile navigation
.menuMobile {
  display: none;
  margin-top: 20rem;
  @include for(phone) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // links
  &-link {
    color: $white;
    padding: 2rem 0;
    @include easeOut;
    &:hover {
      color: $brand-lightGold;
    }
  }
}
