/*
color variables
*/
$black: #000000;
$white: #ffffff;
$brand-lightRed: #91261d;
$brand-darkRed: #641b13;
$brand-lightGold: #ffd700;
$brand-darkGold: #bd9334;
$brand-lightBronze: #bb874e;
$brand-darkBronze: #ac783f;
$brand-lightSilver: #d8d8d8;
$brand-darkSilver: #b3b3b3;
