*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
  // width < 1200px
  @include for(TabLand) {
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }
  // width < 900px
  @include for(TabPort) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }
  // width >= 1800
  @include for(Desktop) {
    font-size: 75%; // 1rem = 12px; 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   padding: 0;
//   margin: 0;
// }
