body {
  font-family: "Open Sans";
  color: $black;
  // font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 1.2;
}

.notifyBar-text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
}

// HEADER
.mainHeader {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.4rem;
}
// HERO BANNER
.heroContent-heading {
  text-align: center;
  font-size: 5rem;
  color: $brand-lightGold;
  font-weight: 800;
}
// QUOTE
.text {
  font-size: 1.6rem;
}

// SECTION MEMBERS
.membersHeading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.membersGrid-title {
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.membersGrid-text {
  font-size: 1.6rem;
}
// STAFF
.staffHeading {
  font-size: 2.4rem;
}
// SLIDER
.slide-text {
  font-size: 2.4rem;
  text-transform: uppercase;
}

// SECTION TIPS
.tips-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.4rem;
}

// BOX
.box-heading {
  font-size: 1.8rem;
}

// LOCATION
.locationInfo-heading {
  font-size: 1.8rem;
}

.locationInfo-link {
  color: $brand-lightRed;
}

// FOOTER
.footer-text {
  color: $white;
  font-size: 1.2rem;
}

.footerSocial-link {
}
